a{
    text-decoration: none;
}
body{
    font-family:'Noto Sans JP', sans-serif;
}
img{
    vertical-align: bottom;
    max-width: 100%;
}
h1{
    margin: 0;
}
h2{
    margin: 0;
}
.p-header_inner{
    display: flex;
    align-items: center;
    margin-left: auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 24px;
}
.p-header_nav_list{
    display: flex;
    gap: 32px;
}
.p-header_nav_icons{
    display: flex;
    gap: 32px;
    align-items: center;
    padding-left: 32px;
}
ul{
    list-style: none;
}
button{
    appearance: none;
    background: transparent;
    color: inherit;
    font: inherit;
    margin: 0;
    text-transform: inherit;
    vertical-align: middle;

    cursor: pointer;
}
/* ヘッダーここまで */
/*ここからメイン*/
.p-top-hero-inner{
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    align-items: center;
}
.p-top-hero-body{
    border-radius: 24px;
    padding: 20px 62px;
    background-color: #eff2f5;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}
.p-top-hero-body-title{
    font-size: 16px;
    color: #0071bc;
    font-weight: bold;
    line-height: 1.8;
}
.p-top-hero-body-catchcopy{
    font-size: 60px;
    letter-spacing: 0.05em;
    line-height: 1.3333;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
}
.p-top-hero-image{
    border-radius: 80px 0 0 80px;
    margin-left: -125px;
    margin-right: calc(50% - 50vw);
    max-height: 680px;
    display: block;
    overflow: hidden;
}
.p-top-hero-scroll{
    align-items: center;
    bottom: 24px;
    display: inline-flex;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 14px;
    gap: 6px;
    left: 32px;
    line-height: 1.5px;
    position: absolute;
}
.p-top-hero-scroll::before{
    background-color: #ccc;
    border-radius: 8px;
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
}
.p-top-container{
    margin: 96px;
}
.l-container{
    padding: 0 24px;
    margin: 0 auto;
    max-width: 1032px;
    width: 100%;
}
.p-heading{
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
}
.p-heading-caption{
    margin-top: 8px;
    color: #0071bc;
    display: block;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 14px;
    letter-spacing: initial;
    line-height: 1.8;
}
.p-top-about-body{
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 42px;
    align-items: center;
    display: grid;
}
.p-top-about-image{
    border-radius: 16px;
    overflow: hidden;
}
.p-top-about-content{
    font-size: 14px;
    line-height: 1.8;
}
/*ここまでメイン*/
/* ラインやるにょ */
.l-container{
    padding: 0 24px;
    margin: 0 auto;
    max-width: 1032px;
    width: 100%;
}
.p-line-body{
    background: url(../img/bg-line.jpg);
    border-radius: 28px;
    padding: 68px;
    position: relative;
}
.p-line-body::before{
    background-color: rgba(0, 113, 188, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 28px;
}
.p-line-body-inner{
    position: relative;
}
.p-body-inner-header-icon{
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.p-body-inner-header{
    color: white;
    align-content: center;
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
}
.p-line-title{
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.p-body-inner-content{
    color: white;
    line-height: 1.8;
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.p-line-footer{
    margin-top: 16px;
    text-align: center;
    /* ph2追加分 */
    display: flex;
    justify-content: center;
}
.p-line-button{
    background-color: #fff;
    border-radius: 50px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.8;
    min-width: 320px;
    padding: 12px;
    position: relative;
    width: 100px;
    text-align: center;
    /* ph2追加分 */
    display: flex;
    width: 240px;
    justify-content: center;
}
.u-icon-link .p-line-button{
    position: absolute;
    right: 20px;
    top: 50px;
    transform: translate(0, -50%);
}
.p-footer{
    margin-top: 80px;
    text-align: center;
}
.l-footer{
    border-top: solid 1px #eee;
}
.p-footer-siteinfo{
    text-align: center;
    flex-direction: column;
    display: flex;
}
.p-footer-siteinfo-link{
    color: #666;
    display: inline-block;
    line-height: 1.8;
    margin-top: 24px;
}
.p-footer-logo{
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.p-footer-logo img{
    width: 100%;
}
/*フッターここから*/
.p-line{
    display: flex;
    align-items: center;
}
.u-icon-line-img{
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.p-fixed-line{
    bottom: 16px;
    right: 16px;
    position: fixed;
}
.p-fixed-line-link{
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 18px;
}
.p-fixedline-link-text{
    margin-left: 13px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.14em;
    line-height: 1.3;
    text-align: left;
}
.u-icon-link{
    margin-left: 35px;
}
.p-fixed-line{
    align-items: center;
    background-color: #5FDF5B;
    border-radius: 16px;
    box-shadow: 4px 4px 20px rgb(0, 0, 0 / 15%);
    padding: 22px 20px 22px 24px;
}
.l-footer-inner{
    padding: 56px 24px 48px;
}
.p-footer{
    text-align: center;
}
.p-footer-logo{
    width: 202px;
}
.p-sns-list{
    margin-top: 48px;
    display: flex;
    gap: 35px;
    justify-content: center;
}
ul{
    margin: 0;
    padding: 0;
}
.p-footer-copyright{
    line-height: 1.5;
    padding: 38px 24px 33px;
    border-top: solid 1px #eee;
    color: #666;
    font-family: "Plus jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-align: center;
}
/*クイズページここから*/
/*全体適応*/
main{
    display: block;
}
/*メイン*/
.l-main{
    padding-top: 80px;
}
.p-quiz-hero{
    background-image: url(../img/quiz/bg-hero.jpg);
}
/*↑検証ツールではさらにもう一枚画像あり。*/
.p-hero{
    padding: 110px 0 76px;
}
.l-container{
    padding: 0 24px;
    margin: 0 auto;
    min-width: 1032px;
    width: 100%;
}
.p-hero-title{
    color: #fff;
    font-weight: bold;
}
.p-hero-title-label{
    font-size: 18px;
    line-height: 1.8;
}
.p-hero-title-inline{
    font-size: 60px;
    margin-top: 12px;
    display: block;
    line-height: 1.5;
}
/*ここからクイズページ*/
.p-quiz-container{
    margin-top: 120px;
}
.l-container{
    padding: 0 24px;
    margin: 0 auto;
    min-width: 1032px;
    width: 100%;
}
.p-quiz-box-label{
    font-size: 36px;
    background-color: #0071bc;
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: bold;
    padding: 8px 16px;
}
.p-quiz-box-question-title{
    font-size: 36px;
    line-height: 1.5;
    margin-top: 24px;
}
.p-quiz-box-question-image{
    margin-top: 64px;
    margin: 24px auto 0;
    max-width: 718px;
}
.p-quiz-box-label{
    font-size: 36px;
}
.p-quiz-box-label-accent{
    background-color: #e34e70;
}
.p-quiz-box-answer-list{
    gap: 24px;
    grid-template-columns: repeat(3,1fr);
    display: grid;
    margin-top: 16px;
}
.p-quiz-box-answer-button{
    border-width: 5px;
    font-size: 18px;
    padding: 19px;

    align-items: center;
    border: solid 4px #eee;
    border-radius: 8px;
    display: flex;
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
    width: 100%;
}
.p-quiz-box-answer-button .u-icon-arrow{
    font-size: 16px;
    margin-left: auto;
}
.u-icon-arrow::after{
    content: url(../img/quiz/play3.png);

}
.p-quiz-box-note{
    font-size: 18px;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 8px;
    display: flex;
    font-style: normal;
    font-weight: bold;
    gap: 16px;
    line-height: 1.8;
    margin-top: 16px;
    padding: 24px;
}
.u-icon-note::before{
    content: url(../img/quiz/graduation-cap.png);
}
.p-quiz-box:not(:first-of-type){
    margin-top: 120px;
}
.p-quiz-box-answer-correct.is-correct {
    display: block;
}
.p-quiz-box-answer-correct.is-incorrect{
    border-color: #eff2f5;
    display: block;
}
.p-quiz-box-answer-correct{
    background-color: #fff2f5;
    border-radius: 8px;
    display: none;
    margin-top: 16px;
    padding: 24px 40px;
}
.is-correct.p-quiz-box-answer-correct-title {
    color:#e34e70
}
.is-incorrect.p-quiz-box-answer-correct-title{
    color: #0071bc;
}
.p-quiz-box-answer-correct-title{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
}
.p-quiz-box-answer-correct-content{
    align-items: baseline;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    gap: 18px;
    line-height: 1.8;
    margin-top: 16px;
}
.p-quiz-box-answer-correct-content-label{
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 24px;
}
/*クイズページメインここまで*/
.p-line{
    margin-top: 144px;
    margin-top: 64px;
}